node_modules/
.env
logs/
*.log
bot.pid
zipFile.rar
.local/
char_icon/
assets/archlinux-2026.03.01-x86_64.iso.fdmdownload
assets/archlinux-2026.03.01-x86_64.iso
assets/YBNL - S3XUATIONSHIP (Vocals) (BS-RoFormer).mp3
assets/(FREE) R&B Type Beat -''Love Is Gone''  Smooth R&B Instrumental (Vocals) (BS-RoFormer).mp3
assets/(FREE) R&B Type Beat -''Love Is Gone''  Smooth R&B Instrumental.mp3
assets/(FREE) RB Type Beat -''Love Is Gone''  Smooth RB Instrumental (Bass) (BS-RoFormer).mp3
assets/Dave Beats Spanish Guitar Samples.zip
assets/(FREE) RB Type Beat -''Love Is Gone''  Smooth RB Instrumental (Drums) (BS-RoFormer).mp3
assets/(FREE) R&B Type Beat -''Love Is Gone''  Smooth R&B Instrumental (Backing Track) (BS-RoFormer).mp3
assets/Slate Digital Connect Setup 1.41.0.exe
